html, body {
  margin: 0;
  padding: 0;
}

* {
  outline: none;
}

body {
  background: #eaeaea url('background.png');
}

.content{
  margin: auto;
  max-width: 400px;
  color: #999;

  display: flex;
  justify-content: center;
  align-items: center;

  flex-direction: column;
}

.content h1 {
  text-align: center;
}

.content input {
  width: 100%;
  padding: 12px 15px;
  border: 0;
  border-radius: 12px;
  box-sizing: border-box;
}

.content #error{
  color: red;
  margin-top: 5px;
  text-align: center;
  font-weight: bold;
}

.content #ul-todo{
    width: 100%; 
}

.content #ul-todo li{
  display: flex;

  justify-content: space-between;
  align-items: center;

  margin-top: 2px;

}

.content .button-remove{

    height: 25px;
    background: #999;

    color: #FFF;
    font-weight: bold;

    border: 0;
    border-radius: 5px;

    text-align: right;

    cursor: pointer;

    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -ms-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s;

}

.content li button:hover {
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
  transform: scale(1.1);
}
